@import url("normalize.css");
/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #fff;
    max-width: 1920px;
}

h1, h3 {
    font-family: "Noto Sans Georgian", sans-serif;
    font-optical-sizing: auto;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 1440px;
    margin: 0 auto;
    box-shadow: none;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #009688;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #A0D8B3;
}

.auth-buttons a {
    margin-left: 20px;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.sign-in {
    background-color: transparent;
}

.start-trial {
    background-color: #009688;
    color: #fff;
}

.hero {
    background-color: #f9f9f9;
    background-image: url("../img/radu-florin-CwTBt6jyagQ-unsplash\ 1.png");
    background-repeat: no-repeat; /* Заборона повторення */
    background-size: cover; /* Масштабування на весь блок */
    background-position: center;
    padding: 206px 0 336px 0;
}

.hero-content {
    width: 440px;
}

.hero h1 {
    font-size: 48px;
    color: #01996D;
}

.hero p {
    margin: 20px 0;
    font-size: 18px;
    color: #484848;
}

.find-your-way {
    display: inline-block;
    padding: 20px 40px;
    background-color: #01996D;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.hero-image img {
    max-width: 100%;
    border-radius: 10px;
}

/*--------------------------------------------------*/

.intro {
    text-align: center;
    padding: 50px 20px;
    display: flex;
    justify-content: space-around;
    max-width: 1440px;
    margin: 0 auto;
}

.intro .intro__inner h1 {
    color: #2b946f;
    font-size: 2.5em;
    max-width: 585px;
    text-align: left;
}

.intro p {
    color: #4d4d4d;
    font-size: 1.2em;
    margin-top: 50px;
    max-width: 670px;
    text-align: left;
}

.intro h2{
    text-align: left;
    color: #4d4d4d;
}

.steps {
    padding: 50px 20px;
}


.steps .container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1440px;
    margin: 0 auto;
}
.step {
    text-align: center;
    position: relative; /* Додаємо позиціонування для контейнера */
    flex: 1;
    margin: 20px;
    max-width: 390px;
}

.step-number {
    font-size: 120px;
    color: rgba(43, 148, 111, 0.1); /* Прозорість для номера */
    position: absolute;
    top: -110px; /* Позиція відносно контейнера */
    left: 0;
    z-index: -1; /* Зробити номер позаду тексту */
}

.step h3 {
    font-size: 1.5em;
    position: relative; /* Щоб заголовок був над номером */
    z-index: 1;
}

.step p {
    font-size: 1em;
    color: #4d4d4d;
    margin-top: 10px;
    position: relative; /* Щоб текст був над номером */
    z-index: 1;
    text-align: left;
    padding: 50px 0;
   
}

.step img {
    width: 100%;
    margin-top: 20px;
}

.step__inner{
    position: relative;
    bottom: -200px;
}

/*-----------------------------------------------------------*/
.publication {
    background-color: #245852; /* Задній фон (схожий до секції) */
    color: #fff; /* Колір тексту */
    padding: 230px 0 175px 0;
}

.publication .publication__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1500px;
}

.publication-text {
    max-width: 600px;
}

.publication-text h3 {
    font-size: 50px;
    margin-bottom: 20px;
}

.publication-text p {
    font-size: 25px;
    margin-bottom: 30px;
}

.publication-video{
    padding-left: 30px;
}

/*---------------------------------------------*/

.product{
    padding: 120px 0 170px 0;
    background-color: #fff;

}

.product__inner{
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    height: 650px;
}

.product-photos{
    position: relative;
}

.product-photo-external{
    position: absolute;
    bottom: 0;
    z-index: 2;
    box-shadow: 0 0.5px 0px rgba(0, 0, 0, 0.3); /* Зменшена тінь для всіх зображень */

}

.product-photo-internal{
    position: absolute;
    top: 0px;
    z-index: 1;
    left: 150px;
}
.box{
    position: absolute;
    left: 50px;
   
    background-color: #01996D33;
    width: 640px;
    height: 570px;
    border-radius: 18px;
}

.product-text{
    max-width: 600px;
    padding-right: 100px;
}

.product-text p{
    margin: 20px 0;
    font-size: 18px;
    color: #484848;
    max-width: 470px;
}

.product-text h3{
    color: #424242;
    font-size: 25px;
}

.product-text h1{
    color: #01996D;
    width: 400px;
}

/*------------------------------------------*/

.footer {
    background-color: #2C6158;
    padding: 95px 0 150px 0;
    
  }
  
  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    color: #fff;
    display: flex;
    flex-direction: column;
  }
  
  .footer h2 {
    margin-bottom: 50px;
  }
  
  .footer-menu {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-menu li {
    margin-bottom: 50px;
  }
  
  .footer-menu a {
    color: #fff;
    text-decoration: none;
    position: relative;
    padding: 5px 0;
    display: inline-block;
    transition: color 0.3s ease;
}

.footer-menu a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #A0D8B3;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

.footer-menu a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

.footer-menu a:hover {
    color: #A0D8B3;
}


  
